<app-nav></app-nav>
<!-- Header section -->
<header class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="">
          <h3 class="mb-3">Innovative Solution Taliored to your Business need</h3>
          <p class="mb-0">
            We can partner with your business to provide a symbiotic relationship and synergy to help you or your
            business
            achieve more business growth through strategic financial advisory, investment business and human resource
            planning and management.​
          </p>
          <button class="btn btn-main my-4">Get in touch</button>
          <div class="icon-container">
            <div class="icon-holder">
              <img src="../assets/icons/behance.svg" />
            </div>
            <div class="icon-holder mx-3">
              <img src="../assets/icons/Vector (6).svg" />
            </div>
            <div class="icon-holder">
              <img src="../assets/icons/fb.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="header-img">
          <img src="../assets/yellow-bg.png" />
          <img src="../assets/yellow-masked.png" />
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About section -->
<section id="about">
  <div class="container py-4 py-lg-5">
    <div class="main-title">
      <h4 class="">About Us</h4>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <img src="../assets/about-img.png" alt="about image" />
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div>
          <h5 class="mb-3">We focus on value and excellence</h5>
          <p class="mt-1 mb-4">
            We are focused on providing products which deliver demonstrably good value for our clients and end-customers
            – be that a specific return, outperforming an index or achieving returns at lower risk.​
            <br /> <br />
            Through achieving value for the clients whose assets we manage, efficiently controlling costs, effectiveness
            and efficiency, we deliver value to our shareholders and wider stakeholders​
          </p>
          <button class="btn btn-main">Work with us</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Resume section -->
<section id="resume">
  <div class="container  py-4 py-lg-5">
    <div class="main-title">
      <h4 class="">Resume</h4>
    </div>

    <div class="row">
      <div class="col-md-6">
        <ul class="list-group resume-ul">
          <li class="list-group-item border-0 bg-transparent pt-0 ps-4 ps-lg-5 pb-4 mt-2">
            <h5 class="mb-3">2017</h5>
            <h6 class="mb-1">Louisanna State University</h6>
            <p class="">Lorem Ipseum</p>
          </li>
          <li class="list-group-item border-0 bg-transparent pt-0 ps-4 ps-lg-5 pb-4">
            <h5 class="mb-3">2018</h5>
            <h6 class="mb-1">Havard EdX</h6>
            <p class="">Principles of Design</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6 d-flex justify-content-start justify-content-md-end">
        <ul class="list-group resume-ul">
          <li class="list-group-item border-0 bg-transparent pt-0 ps-4 ps-lg-5 pb-4 mt-2">
            <h5 class="mb-3">2019</h5>
            <h6 class="mb-1">Udacity</h6>
            <p class="">Product Design</p>
          </li>
          <li class="list-group-item border-0 bg-transparent pt-0 ps-4 ps-lg-5 pb-4">
            <h5 class="mb-3">2020</h5>
            <h6 class="mb-1">Microsoft Partner</h6>
            <p class="">Platinum</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- Portfolio section -->
<section id="portfolio">
  <div class="container  py-4 py-lg-5">
    <div class="main-title">
      <h4 class="">Portfolio</h4>
    </div>

    <div class="row">
      <div class="col-12">
        <ul class="nav nav-pills portfolio-tab mb-3 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
              type="button" role="tab" aria-controls="pills-all" aria-selected="true">All</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-website-tab" data-bs-toggle="pill" data-bs-target="#pills-website"
              type="button" role="tab" aria-controls="pills-website" aria-selected="false">Website</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-app-tab" data-bs-toggle="pill" data-bs-target="#pills-app" type="button"
              role="tab" aria-controls="pills-app" aria-selected="false">MobileApp</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-css-tab" data-bs-toggle="pill" data-bs-target="#pills-css" type="button"
              role="tab" aria-controls="pills-css" aria-selected="false">CSS</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-github-tab" data-bs-toggle="pill" data-bs-target="#pills-github"
              type="button" role="tab" aria-controls="pills-github" aria-selected="false">GitHub</button>
          </li>
        </ul>


        <div class="tab-content py-3" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
            <!-- <div class="row d-md-flex flex-md-nowrap work-container"> -->
            <div class="row work-container">
              <div class="col-lg-4 col-md-6">
                <img src="../assets/UI-design-work.png" class="UI-work" />
              </div>
              <div class="col-lg-4 col-md-6">
                <img src="../assets/UI-design-work.png" class="UI-work" />
              </div>
              <div class="col-lg-4 col-md-6">
                <img src="../assets/UI-design-work.png" class="UI-work" />
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-website" role="tabpanel" aria-labelledby="pills-website-tab">
            <div class="py-3 text-center">
              Website says Hi!
            </div>
          </div>
          <div class="tab-pane fade" id="pills-app" role="tabpanel" aria-labelledby="pills-app-tab">
            <div class="py-3 text-center">
              Mobile says Hey!
            </div>
          </div>
          <div class="tab-pane fade" id="pills-css" role="tabpanel" aria-labelledby="pills-css-tab">
            <div class="py-3 text-center">
              CSS is will to style you
            </div>
          </div>
          <div class="tab-pane fade" id="pills-github" role="tabpanel" aria-labelledby="pills-github-tab">
            <div class="py-3 text-center">
              GitHub places it all on cloud.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact us -->
<section id="contact">
  <div class="container  py-4 py-lg-5">
    <div class="main-title">
      <h4 class="">Get in Touch</h4>
    </div>
    <div class="d-flex justify-content-evenly mt-3 mb-4 mb-lg-5">
      <div class="col-md-3 contact-holder d-flex justify-content-md-end">
        <div class="text-center">
          <img src="../assets/icons/call-us.svg" />
          <h5 class="">Call us</h5>
          <a href="tel:+234806749700">+234-806 749-700</a>
        </div>
      </div>

      <div class="col-md-3 contact-holder d-flex justify-content-start">
        <div class="text-center">
          <img src="../assets/icons/send.svg" />
          <h5 class="">Send Email</h5>
          <a href="mailto:revent@digital.com">revent@digital.com</a>
        </div>
      </div>
    </div>
    <form>
      <div class="form-group row">
        <div class="col-md-6">
          <input class="form-control mb-3" type="text" placeholder="First name" />
        </div>
        <div class="col-md-6">
          <input class="form-control mb-3" type="text" placeholder="Last name" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <input class="form-control mb-3" type="email" placeholder="Email" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <textarea class="form-control mb-3" type="email" placeholder="Message">  </textarea>
        </div>
      </div>
      <button class="btn btn-main">Send message</button>
    </form>
  </div>
</section>