/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  overflow-x : hidden; 
  width: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}

/* button style */
.btn {
  padding: 0.7rem 1.8rem;
}
.btn-main {
  color: #000000;
  background-color: #fce82f;
  border-radius: 10px;
  font-weight: bold;
}
